body{
background-color:#C8E6C9 ;
}
h1{
  font-family:
}
.inlineheader{
  display: inline-block;
  vertical-align: middle;
}
nav {
  position: absolute;
  right: 35px;
  top: 28px;
}
nav li{
  margin-right: 10px;
}
header{
  background-image: url('../img/capture.PNG');
  padding-bottom: 200px;
}
p{
  overflow: hidden;
  width: 400px;
}
img{
  position:absolute;;
  padding-left: 20px;
}
#logo img{
  position: absolute;
  display: block;
  width: 150px;
  z-index: 1;
}
#logo{
  width: 200px;
  position: relative;
  display: block;
  margin: auto;
}
#triangle-topright {
	width: 0;
	height: 0;
	border-top: 150px solid red;
	border-left: 150px solid transparent;
  position: relative;
}
.firstblok{
  display: inline-block;



}
