/*ecran d'ordinateur*/
body{
  background-color: yellow;
}
#wrapper{
  background-color: grey;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
header{
  background-color: #779307;
  margin-right: 10px;
  margin-left: 10px;
  width:940px;
}
nav ul li{
  display: inline-block;
}
nav{
  background-color: #fe9c00;
  width: 960px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 26px;
}
aside{
  background-color: #fe9c00;
  width:220px;
  margin-top: 58px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  border-right: 2px solid #e8e8e8;
}
#content{
  background-color: #dedede;
  width:698px;
  margin-right: 10px;
  margin-top: 58px;
  float: right;
}
#footer{
  background-color: #663300;
  width:940px;
  margin-right: 10px;
  margin-left: 10px;
  clear: both;
}

/*taille pour une tablette 768px*/
@media screen and (max-width:768px) {
#wrapper, header, footer, nav{
  width:768px;
  margin: 0px;
}
nav{
  text-align: center;
  background-image: none;
  border-top-color: #bfbfbf;
  border-top-style: double;
  border-top-width: 4px;
}
nav ul li a {
  background-color: #dedede;
  line-height: 60px;
  font-size: 40px;
}
header, footer, nav {
  width: 748px;
}
#content, aside {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 728px;
 }
 /* classe pour l'image de la statuette*/
 .oscarMain{
   margin-right: 30px;
   margin-top: 0px;
   width: 150px;
   height: 394px;
 }

 aside{
   border-right: none;
   border-top: 2px solid #e8e8e8;
   padding-top: 20px;
   margin-bottom: 20px;
 }

 .sideBlock{
   width: 46%;
   float: left;
 }
 .overHyped{
   margin-top: 0px;
   margin-left: 50px;
 }
 /* Now here are the @font-tace files. I used examples from font-squirrel but TypeKit and FontDeck are good solutions too. Even Google has webfonts available */

@font-face {
    font-family: 'BitstreamVeraSansRoman';
    src: url('../fonts/Vera-webfont.eot');
    src: url('../fonts/Vera-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vera-webfont.woff') format('woff'),
         url('../fonts/Vera-webfont.ttf') format('truetype'),
         url('../fonts/Vera-webfont.svg#BitstreamVeraSansRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
}
